---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout
  title="Atributos"
  description="Grupo de atributos que definem o personagem"
>
  <Container>
    <section>
      <h2 class="text-2xl font-semibold pb-4">Ataque</h2>
      <ul class="list-disc list-inside mb-6">
        <li>Axes</li>
        <li>Bows</li>
        <li>Clubs</li>
        <li>Crossbows</li>
        <li>Elemental magic</li>
        <li>Blood magic</li>
        <li>Fists</li>
        <li>Knives</li>
        <li>Polearms</li>
        <li>Spears</li>
        <li>Swords</li>
      </ul>
    </section>

    <section>
      <h2 class="text-2xl font-semibold pb-4">Defesa</h2>
      <ul class="list-disc list-inside mb-6">
        <li>Blocking</li>
        <li>Sneaking</li>
        <li>Jumping</li>
        <li>Running</li>
      </ul>
    </section>

    <section>
      <h2 class="text-2xl font-semibold pb-4">Construção</h2>
      <ul class="list-disc list-inside mb-6">
        <li>Cooking</li>
        <li>Crafting</li>
        <li>Farming</li>
        <li>Wood cutting</li>
        <li>Pickaxes</li>
      </ul>
    </section>

    <section>
      <h2 class="text-2xl font-semibold pb-4">Exploração</h2>
      <ul class="list-disc list-inside">
        <li>Fishing</li>
        <li>Swimming</li>
        <li>Riding</li>
        <li>Running</li>
        <li>Jumping</li>
      </ul>
    </section>
  </Container>
</PageLayout>
