---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { dateRange } from "@lib/utils";
import { SITE, HOME, SOCIALS } from "@consts";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);

const allwork = (await getCollection("work"))
  .sort(
    (a, b) =>
      new Date(b.data.dateStart).valueOf() -
      new Date(a.data.dateStart).valueOf()
  )
  .slice(0, SITE.NUM_WORKS_ON_HOMEPAGE);

const work = await Promise.all(
  allwork.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  })
);
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h1 class="animate text-5xl line- font-bold text-black dark:text-white">
      Desperte no Décimo Mundo
    </h1>
    <div class="py-8">
      <section>
        <article class="text-xl">
          <p class="animate pb-3">
            Dizem que quando os Nove Mundos foram selados sob a vigilância de
            Odin, havia ainda um canto obscuro e não contado pelas lendas. Um
            mundo forjado não pelo nascimento divino, mas pelo exílio. Um reino
            esquecido... o Décimo Mundo.
          </p>
          <p class="animate pb-3">
            Quando os conflitos dos deuses ameaçaram a harmonia dos reinos, o
            Pai de Todos separou da raiz de Yggdrasil uma parte corrompida da
            realidade. Nesse plano estilhaçado, onde nem o tempo ousa seguir sua
            marcha regular, foram lançados os renegados, os impuros, os
            esquecidos pelas leis da criação. Ali, vagam as criaturas deformadas
            pela fúria e pelo orgulho. E para vigiar esse mundo quebrado, nenhum
            guardião foi deixado — apenas o silêncio dos que ali morreram.
          </p>
          <p class="animate pb-3">
            Ainda que esteja separado do tronco da grande Árvore, o Décimo Mundo
            carrega em si os ecos dos nove reinos antigos: <strong
              class="font-semibold">Campos Serenos</strong
            > ecoam a paz de Alfheim. <strong class="font-semibold"
              >Florestas Sombrias</strong
            > lembram as sombras de Svartalfheim. <strong class="font-semibold"
              >Montanhas Geladas</strong
            > desafiam como Jotunheim. <strong class="font-semibold"
              >Pântanos Enlameados</strong
            > sussurram com o fedor de Helheim. <strong class="font-semibold"
              >Planícies Ardentes</strong
            > vibram com a fúria de Muspelheim. E acima de tudo, os galhos ressecados
            de <strong class="font-semibold">Yggdrasil</strong> ainda pairam nos
            céus — memória espectral de um equilíbrio perdido.
          </p>
          <p class="animate pb-3">
            Nem os deuses, nem os mortais se atrevem a tocar o Décimo Mundo...
            Mas quando as trevas ali cresceram e começaram a envenenar os mundos
            acima, as Valquírias foram enviadas. Não para destruir — mas para
            trazer almas esquecidas que outrora provaram coragem em batalha.
            Esses espíritos renascem não como homens, mas como instrumentos do
            julgamento.
          </p>
          <p class="animate pb-3">
            Espalhados pelos biomas, repousam os Filhos do Exílio, seres tão
            antigos quanto a própria culpa dos deuses. Chamam-se por muitos
            nomes — O Que Treme a Terra, O Podre de Ossos, O Devorador de Névoa.
            Despertá-los é selar seu destino. Vencê-los é reescrever sua
            existência.
          </p>
          <p class="animate pb-3">
            O sopro que enche teus pulmões não vem de Midgard.<br />Teus passos
            sobre esta terra amaldiçoada não são tua escolha, mas tua missão.<br
            />Tua alma foi convocada para trazer equilíbrio ao que os deuses
            abandonaram.
          </p>
          <p class="animate pb-3">
            Ergue tua arma.<br />Constrói teu abrigo.<br />Une-te a outros
            renascidos.<br />
            Pois só ao vencer os senhores do Décimo Mundo,<br />teu nome será
            sussurrado entre os <strong class="font-semibold"
              >salões dourados de Asgard</strong
            >.
          </p>
        </article>
      </section>
    </div>
  </Container>
</PageLayout>
