---
import Link from "@components/Link.astro";

const { name, class: classe, level, slug, excerpt } = Astro.props;
---

<Link href={`/personagens/${slug}`} underline={false}>
  <div
    class="rounded-lg shadow-md p-5 hover:shadow-lg transition bg-hero-card bg-cover aspect-[2/3] w-full flex flex-col justify-between"
  >
    <h2 class="text-4xl font-bold pt-2 text-gray-700">{name}</h2>
    <p class="text-md text-right text-gray-700">{classe}</p>
  </div>
</Link>
